# Stable names for the two USB UVC camera capture nodes.
SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="1bcf", ATTRS{idProduct}=="2cd1", ATTRS{serial}=="01.00.00", SYMLINK+="camera_decxin"
SUBSYSTEM=="video4linux", ATTR{index}=="0", ATTRS{idVendor}=="0edc", ATTRS{idProduct}=="3080", ATTRS{serial}=="SN20210707", SYMLINK+="camera_wdr5m"
